.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)),
    url("../images/bg.png") center center/cover no-repeat fixed;

  .upper-hero-content {
    @include sectionSpacing();
    @include maxWidthLg();
    height: 100vh;
    display: grid;
    align-items: center;
    gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
    color: color(white);

    &-info {
      h1 {
        @include headingStyles();
        font-size: size(xxl) + 2rem;
      }

      p {
        @include textStyles();
        font-size: size(lg);
      }
    }

    &-img {
      img {
        width: 75%;
        margin: 0 auto;
      }
    }
  }
}
