.nav {
  background-color: color(dark-purple);
  position: fixed;
  width: 100%;
  z-index: 1000;

  .nav-content {
    @include maxWidthLg();
    display: flex;
    align-items: center;

    @include responsive(sm) {
      flex-direction: column;
    }

    &-logo {
      img {
        width: 15rem;
        padding: 1rem;
      }
    }

    &-links {
      display: flex;

      a {
        @include textStyles();
        padding: 1rem 2rem;
        color: color(white);
        font-size: size(xs);
        transition: 0.3s ease-in-out;

        &:hover,
        &:focus,
        &.active {
          background-color: color(light-purple);
        }
      }
    }
  }
}
