.partners-carousel {
  &-title {
    @include headingStyles();
    font-size: size(md);
    text-align: center;
  }

  &-content {
    @include maxWidthLg();
    @include sectionSpacing();
    .glide__slides {
      cursor: grab;
      display: flex;
      align-items: center;
      justify-content: center;

      &:active {
        cursor: grabbing;
      }
    }

    .glide__slide {
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: 15rem;

        @include responsive(md) {
          width: 10rem;
        }
      }
    }

    .partners-carousel-links {
      display: flex;
      align-items: center;
      justify-content: space-evenly;

      @include responsive(lg) {
        flex-direction: column;
        align-items: flex-start;
      }

      a {
        @include textStyles();
        font-size: size(xs);
        color: color(light-blue);

        @include responsive(lg) {
          padding: 2rem 0;
          border-bottom: 0.2rem solid color(light-gray);
          width: 100%;
        }

        &:hover,
        &:focus {
          text-decoration: underline;
        }
      }
    }
  }
}
