.sub-hero.partners {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)),
    url("../images/bg.png") center center/cover no-repeat fixed;
  overflow-x: hidden;

  .sub-hero-content {
    @include maxWidthLg();
    @include sectionSpacing();
    height: 100vh;
    display: grid;
    align-items: center;
    text-align: center;
    color: color(white);

    h2 {
      @include headingStyles();
      font-size: size(xxl) + 2rem;
      border-left: 0.2rem solid color(white);
      padding: 0 1rem;

      @include responsive(md) {
        font-size: size(xxl);
      }
    }
  }
}

.sub-hero.careers {
  @extend .sub-hero.partners;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)),
    url("../images/bg-2.jpg") center center/cover no-repeat fixed;
}
